.upload-area {
  background: #fff;
  border: 1px dashed #ddd;
  color: #999;
  font-size: 14px;
  min-height: 80px;
  padding: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.upload-area.hover {
  border-color: #aaa;
}
.upload-area .file-list {
  list-style: none;
  padding: 15px 10px;
  margin: 0;
}
.upload-area .file-list li {
  *zoom: 1;
  margin: 5px 0 15px;
}
.upload-area .file-list li:before,
.upload-area .file-list li:after {
  display: table;
  content: "";
  line-height: 0;
}
.upload-area .file-list li:after {
  clear: both;
}
.upload-area .file-list li .icon {
  float: left;
  margin: -5px 3px 0 0;
  width: 28px;
}
.upload-area .file-list li .thumbnail {
  display: block;
  clear: left;
  max-width: 150px;
  max-height: 150px;
  margin: 0 100% 0 0;
}
.upload-area .file-list li .name {
  color: #333;
  float: left;
  font-size: 12px;
}
.upload-area .file-list li .close {
  color: #666;
  float: left;
  font-size: 13px;
  font-weight: normal;
  margin: 0 10px 0 8px;
}
.upload-area .file-list li .progress {
  float: left;
  height: 10px;
  margin: 5px 0 0;
  width: 110px;
}
.upload-area .file-list li .loading {
  background: url("../img/loading.gif") center center no-repeat;
  float: left;
  height: 10px;
  width: 50px;
  margin: 5px 0 0;
}
